#product-detail
	color: #333
	h2
	h3
	h4
		color: #333
		font-weight: normal
	.base-info
		padding: 10px
		background-color: #fff
		h2
			font-size: 16px
			margin-bottom: 5px
			.zuan
				.icon
					font-size: 14px
					color: #00baff
					vertical-align: 1px
					margin-right: 2px
		.info
			font-size: 12px
			color: #999
			display: flex
			margin-bottom: 5px
			span
				flex: 1
				text-align: center
				&:first-child
					text-align: left
				&:last-child
					text-align: right
			.num
				strong
					color: #090
			.price
				font-size: 8px
				strong
					font-size: 14px
					color: #f90
			strong
				font-weight: normal
		.features
			margin-bottom: 0
			span
				display: inline-block
				height: 18px
				line-height: 16px
				padding: 0 5px
				font-size: 10px
				color: #5d446f
				border: 1px solid #5d446f
				border-radius: 2px
				margin-right: 5px
	.start-dates
		padding: 10px
		background-color: #fff
		border-top: 0.5px solid #ccc
		box-shadow: 0 -0.5px 0 #ccc, 0 1px 2px rgba(0, 0, 0, .1)
		h3
			font-size: 14px
			.icon
				color: #c66
				vertical-align: 1px
				margin-right: 5px
		p
			margin-bottom: 0
			a
				display: inline-block
				height: 30px
				line-height: 28px
				font-size: 14px
				padding: 0 20px
				color: #555
				border: 1px solid #ccc
				border-radius: 3px
				margin-right: 5px
				text-decoration: none
	.detail-info
		position: relative
		margin: 10px
		background-color: #fff
		box-shadow: 0 1px 3px rgba(0, 0, 0, .15)
		border-radius: 2px
		padding-top: 36px
		h3
			position: absolute
			top: 0
			left: 0
			right: 0
			border-bottom: 0.5px solid #ccc
			box-shadow: 0 0.5px 0 #ccc
			display: flex
			margin: 0
			a
				flex: 1
				text-align: center
				font-size: 14px
				line-height: 36px
				height: 36px
			.current
				border-bottom: 2px solid #5d446f
		.panel
			padding: 10px
		.info-panel
			padding: 10px
			.child-panel
				padding-bottom: 20px
				margin-bottom: 20px
				border-bottom: 0.5px solid #ddd
				box-shadow: 0 0.5px 0 #ddd
				&:last-child
					margin-bottom: 0
					padding-bottom: 0
					border-bottom: none
					box-shadow: none
			h4
				font-size: 14px
				margin: 0 0 10px
			p
				font-size: 12px
				color: #555
				margin: 0
				text-indent: 24px
		.days
			margin: 25px 0 -10px 20px
			padding-left: 20px
			border-left: 3px solid #eee
			.day
				margin-top: 10px
				padding-bottom: 20px
				&:first-child
					margin-top: -15px
				h4
					position: relative
					font-size: 14px
					line-height: 20px
					i
						position: absolute
						left: -37px
						top: -5px
						width: 30px
						height: 30px
						text-align: center
						line-height: 26px
						font-size: 16px
						font-weight: 200
						border-radius: 15px
						background-color: #5d446f
						color: #fff
						border: 2px solid #fff
				dl
					margin-bottom: 10px
					dt
					dd
						line-height: 24px
						font-size: 12px
					dt
						color: #5d446f
						float: left
						width: 24px
						font-size: 16px
						font-weight: 100
					dd
						margin-left: 24px
						font-weight: 500
				p
					font-size: 12px
					color: #555
					margin-bottom: 0
					text-indent: 24px
	.bar-footer
		background: none
		padding: 0
		-webkit-backdrop-filter: blur(4px)
		a
			height: 44px
			line-height: 44px
			text-align: center
			background-color: rgba(255, 255, 255, .95)
		.icon-btn
			flex: 1
			font-size: 8px
			line-height: 1
			color: #5d446f
			border-left: 0.5px solid #ccc
			border-top: 0.5px solid #ccc
			box-shadow: -0.5px -0.5px 0 #ccc
			&:first-child
				border-left: none
				box-shadow: 0 -0.5px 0 #ccc
			.icon
				font-size: 28px
				display: block
				margin-top: 2px
		.booking-btn
			flex: 3
			font-size: 18px
			background-color: rgba(255, 153, 0, .95)
			color: #fff
			text-decoration: none
.product-detail-tab-fly
	position: fixed
	top: 44px
	left: 10px
	right: 10px
	border-bottom: 0.5px solid #ccc
	box-shadow: 0 0.5px 0 #ccc
	display: flex
	margin: 0
	color: #333
	font-weight: normal
	background-color: rgba(255, 255, 255, .95)
	//-webkit-backdrop-filter: blur(4px)
	a
		flex: 1
		text-align: center
		font-size: 14px
		line-height: 36px
		height: 36px
	.current
		border-bottom: 2px solid #5d446f