#home
    .banner
        min-height: 80px
        .slider-slide img
            display: block
            width: 100%
        .slider-pager
            bottom: initial
            bottom: 20px
            .slider-pager-page
                color: #fff
            .icon
                font-size: 12px
    .list-block
        margin-top: 10px
        background-color: #fff
        border-top: 2px solid #666
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
        h3
            line-height: 40px
            padding: 0 15px
            box-shadow: 0 0.5px 0 #DBD4C4
            border-bottom: 0.5px solid #DBD4C4
            font-size: 16px
            font-weight: normal
            margin: 0
            .title-icon
                margin-right: 5px
            .i-more
                float: right
                color: #999
        .list-item
            display: block
            padding: 5px 15px
            text-decoration: none
            box-shadow: 0 0.5px 0 #DBD4C4
            border-bottom: 0.5px solid #DBD4C4
            &:last-child
                box-shadow: none
                border-bottom: none
            h4
                font-size: 14px
                color: #555
                font-weight: normal
                line-height: 30px
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                margin: 0
            p
                margin: 0
            .infos
                display: flex
                color: #999
                line-height: 24px
                .info-item
                    flex: 1
                    text-align: center
                    font-size: 12px
                    &:first-child
                        text-align: left
                    &:last-child
                        text-align: right
                    strong
                        font-weight: normal
                        font-size: 14px
                        color: #555
                .price
                    color: #f90
                    font-size: 10px
                    strong
                        font-size: 14px
                        color: #f90
    .sales-block
        border-color: #f39800
        h3
            color: #f39800
    .clear-block
        border-color: #cd3c3c
        h3
            color: #cd3c3c