.banner
    min-height: 80px
    .slider-slide img
        display: block
        width: 100%
    .slider-pager
        bottom: initial
        bottom: 70px
        .slider-pager-page
            color: #fff
        .icon
            font-size: 12px
.banner-mask
    position: relative
    width: 100%
    height: 60px
    margin-top: -60px
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(245, 242, 236,0)), color-stop(1, rgba(245, 242, 236,1)))
.search-bar
    position: relative
    margin: -60px 15px 0
    padding: 10px 20px
    background-color: rgba(255, 255, 255, 0.8)
    border-radius: 6px 6px 5px 5px
    box-shadow: 0 1px 3px rgba(0,0,0,.15)
    border-bottom: 5px solid #5d446f
    .search-btn
        display: block
        margin: 20px 0 -32px
        height: 40px
        line-height: 40px
        text-align: center
        font-size: 16px
        background-color: #5d446f
        color: #fff
        border-radius: 3px
        &.activated
            background-color: #553E66
            transform: translate3d(1px, 1px, 0)
    p
        position: relative
        height: 45px
        padding-top: 10px
        margin: 10px 0
    .name
        position: absolute
        left: 0
        top: 0
        font-size: 12px
        line-height: 1
        color: #666
    .input
        display: block
        height: 35px
        line-height: 40px
        font-size: 18px
        background-image: linear-gradient(0deg, #bbb, #bbb 50%, transparent 50%)
        background-repeat: no-repeat
        background-position: bottom
        background-size: 100% 1px
        overflow: hidden
        &.activated
            transform: translate3d(1px, 1px, 0)
            background-image: linear-gradient(0deg, #f90, #f90 50%, transparent 50%)
    .half
        float: left
        width: 50%
        box-sizing: border-box
        .input em
          font-size: 12px
          color: #999
          white-space: nowrap
        &:nth-child(even)
            padding-right: 10px
        &:nth-child(odd)
            padding-left: 10px
            .input
              text-align: right
    .split
        position: absolute
        width: 20px
        left: 50%
        top: 18px
        margin-left: -10px
        text-align: center
        font-size: 24px
        color: #ccc