.calendar-panel
    top: 0
    background-color: #f5f2ec
    .scroll
        padding-top: 68px
.weeks
    display: flex
    padding: 0
    background-color: rgba(238, 238, 238, 0.95)
    height: 24px
    line-height: 24px
    // background-image: linear-gradient(0deg, #B5A891, #B5A891 50%, transparent 50%)
    // background-repeat: no-repeat
    // background-position: bottom
    // background-size: 100% 1px
    box-shadow: 0 0.5px 0 #B5A891
    span
        flex: 1
        text-align: center
        color: #666
    .weekend
        color: #f90
.days
    position: relative
    margin-bottom: 20px
    box-shadow: -0.5px -0.5px 0 #f0ede7
    border: 0.5px solid #f0ede7
    border-width: 0.5px 0 0 0.5px
    background-color: #fff
    .month
        position: absolute
        font-size: 150px
        line-height: 1
        height: 200px
        width: 100%
        text-align: center
        left: 0
        top: 50%
        margin-top: -100px
        color: #F4E8D8
        font-family: serif
    .year
        display: block
        text-align: center
        font-size: 50px
        line-height: 1
        margin-top: -10px
    .week
        position: relative
        display: flex
        margin: 0
    .day
        flex: 1
        box-sizing: border-box
        box-shadow: 0.5px 0.5px 0 #f0ede7
        border: 0.5px solid #f0ede7
        border-width: 0 0.5px 0.5px 0
        .able
        .disable
            display: block
            height: 40px
            font-size: 16px
            line-height: 40px
            text-align: center
        .able
            color: #333
            &.activated
                box-shadow: 0.5px 0.5px 0 #bbb, 1px 1px 2px rgba(0, 0, 0, .15) inset
                color: #f90
                background-color: #f5f2ec
                text-indent: 1px
                line-height: 42px
        .disable
            color: #bbb
        .current
            box-shadow: 1px 1px 2px rgba(0,0,0,.3) inset
            background-color: #f90
            color: #fff