.item
    margin: 10px
    border: none
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1)
    border-radius: 3px
.product-item
    padding: 0
    .title
        background-image: linear-gradient(0deg, #DBD4C4, #DBD4C4 50%, transparent 50%)
        background-repeat: no-repeat
        background-position: bottom
        background-size: 100% 1px
        padding: 0 10px
        line-height: 40px
        color: #333
        margin-bottom: 0
    .tour
        display: block
        margin-left: 15px
        padding-right: 60px
        box-shadow: 0 0.5px 0 #DBD4C4
        border-bottom: 0.5px solid #DBD4C4
        height: 40px
        line-height: 40px
        font-size: 14px
        color: #666
        text-decoration: none
        clear: both
        overflow: hidden
        &:last-child
            box-shadow: none
            border-bottom: none
        .icon
            float: right
            margin-right: -50px
            transform: rotate(180deg)
            font-size: 16px
            color: #DBD4C4
        &.activated
            box-shadow: 0 0.5px 0 #f90
            border-bottom-color: #f90
            transform: translate3d(1px, 1px, 0)
            &:last-child
                box-shadow: none
            .icon
                color: #f90
    .date
    .storage
    .price
        float: left
        width: 33%
    .storage
        text-align: center
        width: 34%
        color: #999
        strong
            color: #0a0
    .price
        text-align: right
        font-size: 8px
        color: #999
        strong
            font-size: 14px
            color: #f90
    .more
        display: block
        font-size: 18px
        text-align: center
        height: 30px
        line-height: 1
        color: #C0B49D
        clear: both
        &.activated
            color: #f90
            font-size: 20px
.filter-panel
    position: relative
    background-color: #fff
    .filter-type
        position: absolute
        left: 25px
        top: -36px
        margin: 0
        padding: 0
        a
            position: relative
            float: left
            height: 36px
            padding: 0 20px
            line-height: 36px
            font-size: 16px
            border-radius: 10px 10px 0 0
            background-color: #fff
            margin-right: 10px
            opacity: 0.7
            &:before
            &:after
                content: " "
                position: absolute
                bottom: 0
                width: 0
                height: 0
                border-width: 16px 9px
                border-style: solid
            &:before
                left: -16px
                border-color: transparent #fff #fff transparent
            &:after
                right: -16px
                border-color: transparent transparent #fff #fff
        .current
            opacity: 1
    .tab-panel
        position: absolute
        left: 0
        top: 0
        width: 100%
        min-height: 100%
        transform: translate3d(0, 0, 0)
        transition: transform 200ms ease
        background-color: #fff
        padding: 15px
        &:last-child
            &.tab-panel-hide
                transform: translate3d(100%, 0, 0)
    .tab-panel-hide
        transform: translate3d(-100%, 0, 0)
    p
        position: relative
        height: 45px
        padding-top: 10px
        margin: 15px 0
    .name
        position: absolute
        left: 0
        top: 0
        font-size: 12px
        line-height: 1
        color: #999
    .input
        display: block
        height: 40px
        line-height: 40px
        font-size: 18px
        background-image: linear-gradient(0deg, #bbb, #bbb 50%, transparent 50%)
        background-repeat: no-repeat
        background-position: bottom
        background-size: 100% 1px
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        &.activated
            transform: translate3d(1px, 1px, 0)
            background-image: linear-gradient(0deg, #f90, #f90 50%, transparent 50%)
    .half
        float: left
        width: 50%
        box-sizing: border-box
        .input em
            font-size: 12px
            color: #999
            white-space: nowrap
        &:nth-child(even)
            padding-right: 10px
        &:nth-child(odd)
            padding-left: 10px
            .input
                text-align: right
    .split
        position: absolute
        width: 20px
        left: 50%
        top: 18px
        margin-left: -10px
        text-align: center
        font-size: 24px
        color: #ccc
    .confirm-btn
        display: block
        height: 40px
        line-height: 40px
        text-align: center
        font-size: 18px
        color: #fff
        background-color: #f90
        margin: 10px 0
        border-radius: 3px
        &.activated
            background-color: #ED8E00
            transform: translate3d(1px, 1px, 0)
.filter-panel-animate
    transition: height 200ms ease
    //transition-delay: 300ms
.filter-bar-bg
    background: url(map.png) no-repeat
    background-size: 100% auto
    padding-top: 40%