@css {
  @font-face {font-family: "iconfont";
    src: url('iconfont/iconfont.eot'); /* IE9*/
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
  }
}

.icon
    font-family:"iconfont" !important
    font-size:16px
    font-style:normal
    -webkit-font-smoothing: antialiased
    -webkit-text-stroke-width: 0.2px
    -moz-osx-font-smoothing: grayscale
.i-user:before
    content: "\e600"
.i-list:before
    content: "\e601"
.i-share:before
    content: "\e602"
.i-home:before
    content: "\e603"
.i-clear:before
    content: "\e604"
.i-delete:before
    content: "\e605"
.i-back:before
    content: "\e606"
.i-sales:before
    content: "\e607"
.i-filter:before
    content: "\e608"
.i-order:before
    content: "\e60e"
.i-checked:before
    content: "\e609"
.i-more:before
    content: "\e60a"
.i-close:before
    content: "\e60c"
.i-zuan:before
    content: "\e60d"
.i-flight:before
    content: "\e60f"
.i-tel:before
    content: "\e610"
.i-meal:before
    content: "\e611"
.i-hotel:before
    content: "\e60b"
.i-favorite:before
    content: "\e612"
.i-search:before
    content: "\e613"
.i-check-trangle:before
    content: "\e614"
.i-calendar:before
    content: "\e615"
.i-more-menu:before
    content: "\e616"
.i-nav-home:before
    content: "\e617"