#user-home
    .bg
        background: url(desk.png) no-repeat
        background-size: 100% auto
        padding-top: 40%
    .user-info
        height: 50px
        margin: -50px 15px 0
        h2
            font-size: 36px
            line-height: 1
            font-weight: 100
            color: #fff
            text-shadow: 0 0 10px #000
            small
                font-size: 14px
                margin-left: 10px
                text-shadow: 0 0 5px #000
    .user-menu
        background-color: #fff
        margin-top: 10px
        box-shadow: 0 0.5px 0 #DBD4C4, 0 -0.5px 0 #DBD4C4
        border: 0.5px solid #DBD4C4
        border-width: 0.5px 0
        a
            display: block
            font-size: 16px
            margin-left: 15px
            line-height: 46px
            color: #333
            box-shadow: 0 0.5px 0 #DBD4C4
            border-bottom: 0.5px solid #DBD4C4
            &:last-child
                box-shadow: none
                border-bottom: none
            .menu-icon
                margin-right: 5px
                color: #999
                vertical-align: -1px
                //opacity: 0.5
                &:before
                    font-size: 18px
            //.i-favorite
            //    color: #fa0
            //.i-customer
            //    color: #39f
            //.i-clear
            //    color: #e55
            .i-back
                float: right
                margin-right: 15px
                transform: rotate(180deg)
                font-size: 16px
                color: #DBD4C4