<div class="model">
<div class="bar bar-header bar-primary">
	<div class="buttons">
		<button class="button icon i-back" ng-click="close()"></button>
	</div>
	<h1 class="title">选择日期</h1>
	<div class="buttons">
		<button class="button" ng-click="clear()">清除</button>
	</div>
</div>
<div class="bar bar-subheader weeks">
	<span class="weekend">日</span>
	<span>一</span>
	<span>二</span>
	<span>三</span>
	<span>四</span>
	<span>五</span>
	<span class="weekend">六</span>
</div>
<ion-content class="calendar-panel" delegate-handle="calendar-scroll">
	<div class="days" ng-repeat="month in months">
		<span class="month">
			{{month.num}}
			<span class="year">{{month.year}}</span>
		</span>
		<p class="week" ng-repeat="week in month.weeks">
			<span class="day" ng-repeat="day in week.days">
				<a class="able" ng-click="select(month.year, month.num, day.num)" ng-if="day.able">{{day.num}}</a>
				<a class="able current" ng-click="select(month.year, month.num, day.num)" ng-if="day.current">{{day.num}}</a>
				<span class="disable" ng-if="day.disable">{{day.num}}</span>
			</span>
		</p>
	</div>
</ion-content>
</div>