/* Empty. Add your own CSS if you like */
@font-face {font-family: "iconfont";
  src: url('iconfont/iconfont.eot'); /* IE9*/
  src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.i-user:before { content: "\e600"; }
.i-list:before { content: "\e601"; }
.icon-liebiaoxianshi:before { content: "\e602"; }
.i-home:before { content: "\e603"; }
.icon-xinwenliebiao:before { content: "\e604"; }
.icon-toright:before { content: "\e605"; }
.i-back:before { content: "\e606"; }
.icon-home1:before { content: "\e607"; }
.i-filter:before { content: "\e608"; }
.icon-home2:before { content: "\e609"; }
.icon-list:before { content: "\e60a"; }
.icon-qiangxin:before { content: "\e60b"; }
.icon-icordercheck:before { content: "\e60c"; }
.icon-home3:before { content: "\e60d"; }
.i-order:before { content: "\e60e"; }
.icon-liebiaomoshixe615:before { content: "\e60f"; }

/*.ng-hide{
     transition: 0.3s linear all;
     opacity: 0;
}*/

html, body, .pane, .view{
	background-color: #f5f2ec;
}
.bar-primary{
	background-color: rgba(66, 38, 89, .85);
  -webkit-backdrop-filter: blur(4px);
}
.bar-primary .title{
	color: #fff;
}
.bar-primary .button {
  border-color: transparent;
  background-color: transparent;
  color: #fff;
 }
 .bar-primary .back-text{
     font-size: 14px;
 }
  .bar-primary .button:hover {
    color: #fff;
    text-decoration: none; }
  .bar-primary .button.active, .bar-primary .button.activated {
    border-color: transparent;
    background-color: transparent;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
  .bar-primary .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #fff;
    font-size: 17px; }
  .bar-primary .button.button-icon {
    border-color: transparent;
    background: none; }
.has-header{
	top: 0;
	padding-top: 44px;
}
.has-tabs{
    bottom: 0;
    padding-bottom: 49px;
}
.tabs-primary > .tabs, .tabs.tabs-primary{
    /*background-color: #e4dfd6;*/
    background-color: rgba(228, 223, 214, 0.95);
    background-image: linear-gradient(0deg, #B5A891, #B5A891 50%, transparent 50%);
    color: #5d446f;
    -webkit-backdrop-filter: blur(4px);
}
.tabs-primary .tab-item{
    line-height: 1;
    font-size: 12px;
}
.tab-item{
    opacity: 1;
}
.tab-item .icon{
    line-height: 1;
}
.tab-item-active{
  color: #EC8600;
}
.tab-item.activated{
  transform: translate3d(1px, 1px, 0);
}
.item{
	margin: 10px;
	border: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  border-radius: 3px;
}
.product-item{
    padding: 0;
}
.product-item .title{
    border-bottom: 1px solid #e4ded2;
    padding: 0 10px;
    line-height: 40px;
    color: #333;
    margin-bottom: 0;
}
.product-item .tour{
    display: block;
    margin-left: 15px;
    padding-right: 60px;
    border-bottom: 1px solid #e4ded2;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    text-decoration: none;
    clear: both;
    overflow: hidden;
}
.product-item .tour .icon{
  float: right;
  margin-right: -50px;
  transform: rotate(180deg);
  font-size: 20px;
  color: #e4ded2;
}
.product-item .tour.activated{
  border-color: #f90;
  transform: translate3d(1px, 1px, 0);
}
.product-item .date,
.product-item .storage,
.product-item .price{
  float: left;
  width: 33%;
}
.product-item .storage{
  text-align: center;
  width: 34%;
  color: #999;
}
.product-item .storage strong{
  color: #0a0;
}
.product-item .price{
  text-align: right;
  font-size: 8px;
  color: #999;
}
.product-item .price strong{
  font-size: 14px;
  color: #f90;
}
.product-item .more{
    display: block;
    font-size: 18px;
    text-align: center;
    height: 30px;
    line-height: 1;
    color: #C0B49D;
    clear: both;
}
.product-item .more.activated{
  color: #f90;
  font-size: 20px;
}